---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import HeaderLink from "../components/HeaderLink.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, author } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={"Blog - " + title} description={description} image={heroImage}/>
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 900px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        padding-block: 0.5em;
        text-align: center;
        line-height: 1;
      }
      @media (max-width: 720px) {
        .title h1 {
          font-size: 2.2rem;
        }
      }
      .date {
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }

      .meta-data {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin-block: 0.5em;
        dl:not(:last-child)::after {
          content: "/";
          color: #000;
          font-size: 1.2em;
        }
      }

      hr {
        border-top: 1px solid #000;
      }

      dl {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-block: 10px;
        dd {
          margin-inline: 0;
          font-style: italic;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="meta-data">
              <dl class="date">
                <dt>posted:</dt>
                <dd><FormattedDate date={pubDate} /></dd>
              </dl>

              {
                updatedDate && (
                  <dl class="last-updated-on">
                    <dt>last updated on:</dt>
                    <dd>
                      <FormattedDate date={updatedDate} />
                    </dd>
                  </dl>
                )
              }
              <dl class="author">
                <dt>author:</dt>
                <dd>{author ? author : "Jessica Reilly"}</dd>
              </dl>
            </div>
            <h1 class="title">{title}</h1>
            <hr />
          </div>
          <slot />
          <HeaderLink href="/blog">back to posts...</HeaderLink>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
